<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Frontend Coding Challenge</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <style>
            .app-user-column {
                height:100vh;
                overflow-y: scroll;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <div class="container-fluid">
                <div class="row">
                    <div v-for="userTweets in usersTweets" class="app-user-column col">
                        <div v-for="tweet in userTweets">
                            <div class="tweet-header">
                                <div v-if="tweet.retweeted_status" class="retweet-banner">
                                    <div>{{ tweet.user.name }} <i>Retweeted</i></span></div>
                                    <b><a :href="'https://twitter.com/' + getRetweetUser(tweet.text)">{{ getUserMentionName(tweet) }}</a></b> 
                                    @{{ getRetweetUser(tweet.text) }} {{ getElapsedTime(tweet.created_at) }}
                                </div>
                                <div v-if="!tweet.retweeted_status" class="retweet-banner">
                                    <b><a :href="'https://twitter.com/' + tweet.user.screen_name">{{ tweet.user.name }}</a></b> 
                                    @{{ tweet.user.screen_name }} {{ getElapsedTime(tweet.created_at) }}
                                </div>
                            </div>
                            <p>
                                <span v-if="tweet.retweeted_status">
                                    {{ tweet.retweeted_status.text }} 
                                </span>
                                <span v-if="!tweet.retweeted_status">
                                    {{ tweet.text }} 
                                </span>
                                <a v-if="tweet.retweeted_status" target="blank" :href="`https://twitter.com/${getRetweetUser(tweet.text)}/status/${tweet.retweeted_status.id_str}`"><small>See More</small></a>
                                <a v-if="!tweet.retweeted_status" target="blank" :href="`https://twitter.com/${tweet.user.screen_name}/status/${tweet.id}`"><small>See More</small></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="app.js"></script>
    </body>
</html>

